.info {
    position: absolute;

    min-width: 450px;
    width: 50%;
    max-width: 600px;
    height: 600px;
    margin-left: 40%;
    top: 120px;

    background: #3A4339;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
    border-radius: 49px;
    color: #FFFFFF;
}
@media screen and (max-width: 800px) {
    div.info {
        display: none;
    }
}

.info_text {
    margin-top: 15px;
}

.just {
    margin-left: 10px;
    display: inline;

}
.text_clients {
    position: absolute;
    margin-left: 50px;
    margin-top: 30px;

    font-weight: 700;
    line-height: 44px;
}

.green_field {
    margin-left: 10px;
    display: inline;
    height: 50px;
    text-align: center;
    background: #718E67;
    border: 1px solid #718E67;
    border-radius: 7px;
}

.general {
    box-sizing: border-box;

    width: 80%;
    height: 190px;
    margin-top: 10px;
    margin-left: 10%;

    border: 1px solid #718E67;
    border-radius: 13px;

}
.zayavka{
    margin-left: 10px;
    display: inline-block;
    overflow: auto;
    height: 39px;
}
.cards_admin {
    overflow: auto;
    box-sizing: border-box;

    width: 80%;
    height: 90px;
    margin-top: 10px;
    margin-left: 10%;

    border: 1px solid #718E67;
    border-radius: 13px;

}

.head_info {
    margin-top: 30px;
    margin-left: 10%;
}

.search {

    width: 80%;
    height: 96px;

    top: 90px;
}